<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about
    </title>
    <link rel="icon" href="/img/weather.png"> 
    
    
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <img src="/img/background.jpg" id="bg" alt="">

    {{>header}}
    <div class="main-content">
        <img class='portrait' src="/img/robot.png" alt="">
        <p>This site was created by Akhil Pathania .It uses data from mapbox.com and weatherstack.com This site is made using Node.js and express.Dynamic content is loaded using handlebars.</p>
    </div>

    
    {{>footer}}
    
     

     </body>

</html>