<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <img src="/img/background.jpg" id="bg" alt="">

    {{>header}}
    <div class="main-content">
        <p>{{helpText}}</p>
    </div>
    
    
    {{>footer}} 
    {{!-- !-- only file name no path location -- --}}
</body>

</html>